# Twitch OAuth
TWITCH_CLIENT_ID=your_client_id_here
TWITCH_CLIENT_SECRET=your_client_secret_here
TWITCH_REDIRECT_URI=http://localhost:3000/callback

# IRC
TWITCH_IRC_URI=wss://irc-ws.chat.twitch.tv:443

# Paths inside container
ACCOUNTS_PATH=accounts/account.config.json
TOKENS_PATH=tokens/default.token.json
CHANNELS_PATH=internal/channel_record/channels.json

# HTTP servers
HTTP_API_HOST=0.0.0.0
HTTP_API_PORT=6060
OAUTH_SERVER_PORT=3000

# Kafka
KAFKA_BROKERS=redpanda:9092
KAFKA_TOPIC=chat-messages

# Logging
LOG_LEVEL=DEBUG
